@media only screen and (max-width: 600px) {
    body {
      font-size: 12px;
    }

    .container .resume {
        padding: 16px;
    }

    .demographic {
        flex-flow: column wrap;
    }

    .contact {
        margin-top: 32px;
        margin-left: 0;
    }

    .intro {
        flex-flow: column wrap;
    }

    .about-text {
        width: auto;
    }

    .skills {
        margin: 20px auto 0 auto;
    }

    progress[value] {
        width: 180px;
    }

    .container .resume .name {
        width: auto;
    }
  }

@media only screen and (min-width: 600px) and (max-width: 768px) {
    .contact {
        margin-left: 0;
    }

    progress[value] {
        width: 180px;
    }

    .about-text {
        width: 300px;
    }

    .skills {
        margin: 32px auto 0 auto;
    }
}

@media only screen and (min-width: 768px) {
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: -webkit-fill-available;
    }
}