body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    background: #f2f2f2;
    font-size: 14px;
}

.card {
    box-shadow: 0 4px 8px 0 #d2d2d2;
    transition: 0.3s;
    border-radius: 5px;
    background: #fff;
} 
  
.card:hover {
    box-shadow: 0 8px 16px 0 #d2d2d2;
}

.container {

}

.demographic {
    display: flex;
    flex-flow: row nowrap;
}

.heading {
    flex: 1 1 auto;
    display: flex;
    flex-flow: column nowrap;
}

/* Contact section */
.contact {
    display: flex;
    justify-content: space-between;
}

.contact-column {
    display: flex;
    flex-flow: column nowrap;
}

.contact-column:first-child {
    margin-right: 16px;
}

/* Contact element */
.contactItem {
    margin-bottom: 2px;
    display: flex;
    align-items: center;
}

.contactItem .icon {
    background: black;
    padding: 4px;
    color: white;
    min-width: 16px;
    min-height: 16px;
    width: 16px;
    height: 16px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactItem .desc {
    font-weight: 200;
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
}

.contactItem .desc .contact-text {
    padding: 0 8px;
    display: block;
    overflow: hidden;
    word-break: break-all;
}

.container .resume {
    padding: 32px;
    margin: 8px;
    height: fit-content;
}

.container .resume .name {
    color: white;
    background: black;
    text-transform: uppercase;
    margin: 0px 0 2px 0;
    padding: 0 4px;
    width: max-content;
    font-size: 2.8rem;
}

.container .resume .position {
    color: black;
    margin: 8px 0;
    font-weight: 300;
    letter-spacing: 0.1rem;
    font-size: 1.2rem;
}


/* Intro */
.intro {
    display: flex;
    margin-top: 32px;
}

.sub-heading {
    background: black;
    color: white;
    text-transform: uppercase;
    margin: 0px 0 2px 0;
    padding: 0 4px;
    width: max-content;
}

.about-text {
    font-weight: 300;
    width: 360px;
}

.about  {
    display: flex;
    flex-flow: column nowrap;
}

.skills {
    display: flex;
    flex-flow: column nowrap;
    margin: 32px 0 0 auto;
}

.skill {
    margin-bottom: 4px;
}

.skill-name {
    margin-right: 8px;
    background: black;
    color: white;
    padding: 0 4px;
    width: fit-content;
}

/* Animations */
@keyframes bar-expand {
    0%   {background-color: white; transform-origin: top left; -webkit-transform: scaleX( 0 );-moz-transform: scaleX( 0 );-o-transform: scaleX( 0 );-ms-transform: scaleX( 0 );transform: scaleX( 0 );}
    /* 25%  {background-color: lightgray; transform-origin: top left; -webkit-transform: scaleX( 0.25 );-moz-transform: scaleX( 0.25 );-o-transform: scaleX( 0.25 );-ms-transform: scaleX( 0.25 );transform: scaleX( 0.25 );}
    50%  {background-color: gray; transform-origin: top left; -webkit-transform: scaleX( 0.5 );-moz-transform: scaleX( 0.5 );-o-transform: scaleX( 0.5 );-ms-transform: scaleX( 0.5 );transform: scaleX( 0.5 );} */
    100% {background-color: black; transform-origin: top left;  -webkit-transform: scaleX( 1 );-moz-transform: scaleX( 1 );-o-transform: scaleX( 1 );-ms-transform: scaleX( 1 );transform: scaleX( 1 );}
}

progress[value] {
    width: 250px;
    display: block;
    /* Important Thing */
    -webkit-appearance: none !important;
    appearance: none;
    border: none;
    animation: bar-expand 2s ease-in 0.5s 1 normal;
    animation-fill-mode: both;
}

progress[value]::-webkit-progress-bar {
    background-color: white;
}

progress[value]::-webkit-progress-value {
    background: black;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
}


/* Other skills */
.other-skills {
    margin-top: 32px;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.node {
    margin: 2px 8px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.text {
    font-weight: 300;
    align-self: center;
}

/* Animations */
@keyframes circle-expand {
    0%   {background-color: white; transform-origin: center center; -webkit-transform: scale( 0 );-moz-transform: scale( 0 );-o-transform: scale( 0 );-ms-transform: scale( 0 );transform: scale( 0 );}
    /* 25%  {background-color: lightgray; transform-origin: center center; -webkit-transform: scale( 0.25 );-moz-transform: scale( 0.25 );-o-transform: scale( 0.25 );-ms-transform: scale( 0.25 );transform: scale( 0.25 );}
    50%  {background-color: gray; transform-origin: center center; -webkit-transform: scale( 0.5 );-moz-transform: scale( 0.5 );-o-transform: scale( 0.5 );-ms-transform: scale( 0.5 );transform: scale( 0.5 );} */
    100% {background-color: black; transform-origin: center center; -webkit-transform: scale( 1 );-moz-transform: scale( 1 );-o-transform: scale( 1 );-ms-transform: scale( 1 );transform: scale( 1 );}
}

.circle {
    margin: 8px auto;
    height: 60px;
    width: 60px;
    background-color: black;
    border-radius: 50%;
    animation: circle-expand 2s ease-in 0.5s 1 normal;
    animation-fill-mode: both;
}

/* Animations */
@keyframes download-bounce {
    0%   {transform-origin: center center; -webkit-transform: translateY( 0px );-moz-transform: translateY( 0px );-o-transform: translateY( 0px );-ms-transform: translateY( 0px );transform: translateY( 0px );}
    25%  {transform-origin: center center; -webkit-transform: translateY( -20px );-moz-transform: translateY( -20px );-o-transform: translateY( -20px );-ms-transform: translateY( -20px );transform: translateY( -20px );}
    50%  {transform-origin: center center; -webkit-transform: translateY( 10px );-moz-transform: translateY( 10px );-o-transform: translateY( 10px );-ms-transform: translateY( 10px );transform: translateY( 10px );}
    100% {transform-origin: center center; -webkit-transform: translateY( 0px );-moz-transform: translateY( 0px );-o-transform: translateY( 0px );-ms-transform: translateY( 0px );transform: translateY( 0px );}
}


/* Float resume download */
.float-footer {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 24px;
    box-shadow: 0 4px 8px 0 #d2d2d2;
    transition: 0.3s;
    height: 48px;
    width: 48px;
    border-radius: 40%;
    background: #2DA953;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    animation: download-bounce 1.5s ease 2.5s 3 normal;
}

.float-footer .icon{
    color: white;
    font-size: 40px;
}
